[
    {
        "ParameterKey": "KeyName",
        "ParameterValue": "KEY_NAME"
    },
    {
        "ParameterKey": "VpcId",
        "ParameterValue": "VPC-ID"
    },
    {
        "ParameterKey": "SubnetId",
        "ParameterValue": "subnet-1,subnet-2,subnet-3"
    },
    {
        "ParameterKey": "MaxSize",
        "ParameterValue": "2"
    },
    {
        "ParameterKey": "MinSize",
        "ParameterValue": "2"
    },
    {
        "ParameterKey": "DesiredCapacity",
        "ParameterValue": "2"
    },
    {
        "ParameterKey": "InstanceType",
        "ParameterValue": "c5a.large"
    },
    {
        "ParameterKey": "ImageId",
        "ParameterValue": "ami-092ae2dc3b576675c"
    }
]